body{
  background-color: #ac8e69;
  margin: 20px;
  color: #5c3c2a;
  font-family: 'PageFont';
}

@font-face {
  font-family: 'PageFont';
  src: local('PageFont'), url('../fonts/work-sans.regular.ttf'), format('truetype');
}

.container {
  display: flex;
}

.main-column {
  flex: 3;
  width: 70%;
  padding: 20px;
}

.side-column {
  flex: 1;
  width: 10%;
  height: fit-content;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}